:root {
    --mdc-theme-primary: #073642 !important;
    --mdc-theme-on-primary: #839496 !important;
    --mdc-theme-background: #002b36 !important;
    --mdc-theme-surface: #073642 !important;
    --mdc-theme-on-surface: #839496 !important;
    --mdc-theme-on-surface-light: #93a1a1 !important;
    --mdc-theme-secondary: #002b36 !important;
    --mdc-theme-on-secondary: #4a4949 !important;
    --mdc-theme-error: #d33682 !important;
    --mdc-theme-warn: #b58900 !important;
    --mdc-theme-success: #859900 !important;
    --mdc-filled-button-disabled-container-color: #59595 !important
}

.content {
    background-color: var(--mdc-theme-background) !important;
    color: var(--mdc-theme-on-primary) !important;
}

body {
    color: var(--mdc-theme-on-primary) !important;
}

.mdc-drawer-sidebar-list-item {
    background-color: var(--mdc-theme-background) !important;
}

.mdc-drawer-sidebar .mdc-drawer-sidebar-footer-input {
    background-color: var(--mdc-theme-background) !important;
}

.spinner.spinner-message {
    background-color: var(--mdc-theme-background) !important;
}

.env-card-buttons .mdc-button {
    background-color: var(--mdc-theme-primary) !important;
    color: var(--mdc-theme-on-primary) !important;
}

.dropdown {
    background-color: var(--mdc-theme-background) !important;
}

.dropdown-input {
    background-color: var(--mdc-theme-background) !important;
    border: 1px solid var(--mdc-theme-primary) !important;
    color: var(--mdc-theme-on-primary) !important;
}

.dropdown-arrow-counter {
    background-color: var(--mdc-theme-background) !important;
}
.environment-group-lane {
    background-color: var(--mdc-theme-background) !important;
}
.environment-lane {
    background-color: var(--mdc-theme-surface) !important;
}
.release-card-mini {
    background-color: var(--mdc-theme-surface) !important;
    color: var(--mdc-theme-on-surface-light) !important;
}

.release__details-header {
    color: var(--mdc-theme-on-surface-light) !important;
}

.release__details-msg {
    color: var(--mdc-theme-on-surface-light) !important;
}

.environment-lane .mdc-button {
    background-color: var(--mdc-theme-on-surface) !important;
}

#kuberpult-tooltip {
    background-color: var(--mdc-theme-background) !important;
    color: var(--mdc-theme-on-primary) !important;
    opacity: 1 !important;
}
#root,.app-container--v2,body,html {
    background-color: var(--mdc-theme-background) !important;
}
.plain-dialog-open {
    color: var(--mdc-theme-on-primary) !important;
}
.mdc-select {
    color: var(--mdc-theme-on-primary) !important;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--mdc-theme-on-primary) !important;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon--leading {
    color: var(--mdc-theme-on-primary) !important;
}
::placeholder {
    color: var(--mdc-theme-on-primary) !important;
}
.mdc-drawer-sidebar-content {
    background-color: var(--mdc-theme-primary) !important;
}
.mdc-drawer-sidebar .mdc-sidebar-sidebar-footer {
    background-color: var(--mdc-theme-primary) !important;
}
.release__details .release__metadata .date {
    color: var(--mdc-theme-on-secondary) !important;
}
.confirmation-dialog-open {
    background-color: var(--mdc-theme-primary) !important;
    color: var(--mdc-theme-on-primary) !important;
}
.k-snackbar {
    color: var(--mdc-theme-secondary) !important;
}
