:root {
    --mdc-theme-primary: #073642 !important;
    --mdc-theme-on-primary: #839496 !important;
    --mdc-theme-background: #002b36 !important;
    --mdc-theme-surface: #073642 !important;
    --mdc-theme-on-surface: #839496 !important;
    --mdc-theme-on-surface-light: #93a1a1 !important;
    --mdc-theme-secondary: #002b36 !important;
    --mdc-theme-on-secondary: #4a4949 !important;
    --mdc-theme-error: #d33682 !important;
    --mdc-theme-warn: #b58900 !important;
    --mdc-theme-success: #859900 !important;
    --mdc-filled-button-disabled-container-color: #59595 !important
}
